<div class="jumobtron" style="opacity:    0.5; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;" *ngIf="loading" >
  <h1>Loading...</h1>
</div>

<div class="panel">
    <div class="panel-heading ">
        <h2>Evaluators for exam {{currentExam.id}} </h2>
    </div>
    <div class="panel-body ">
        <div class="container panel" style="background-color: lavender ">
            <div class="panel-heading ">
                <div class="form-group">
                    <label>Search</label>
                    <input #query type="text" class="form-control" (keyup.enter)="update(query.value)" (blur)="update(query.value)">
                </div>
            </div>
            <div class="panel-body ">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th class="pull-right">Options</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let user of users; let i = index; ">
                            <td> {{user.username}} </td>
                            <td> {{user.name}} </td>
                            <td class="pull-right">
                                <button type="button" class="form-control" class="btn btn-success " (click)="addEvaluator(i)">
                            Add
                        </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="container ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th class="pull-right">Options</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let user of evaluators; let i = index; ">
                        <td> {{user.username}} </td>
                        <td> {{user.name}} </td>
                        <td class="pull-right">
                            <button type="button" class="form-control" class="btn btn-danger " (click)="removeEvaluator(i)">
                            Remove
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group pull-right margin-20">
            <button class="btn btn-success">Save</button>
        </div>
    </div>
</div>





<div class="container">
    <pre>Exam value: <br>{{currentExam | json}}</pre>
</div>